@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.fontStyle {
  font-size: 16pt;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url(./img/25th_gray-8cafe8de4009ac8136df20fdf02bee2a.gif);
}
.background {
  display: flex;
  height: 100vh;
  min-width: 100vw;
  border-radius: 5px;
  background-color: rgba(65, 65, 65, 0.5);
}
.pokename {
  display: flex;
  width: 40%;
  justify-content: center;
  flex-direction: column;
}
.credits1 {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0 5px;
  margin-right: 5px;
  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: 15px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.credits2 {
  display: none;
}
.credits1 col {
  flex-direction: column;
}
.credits1 col {
  flex-direction: row;
}
.credits1 h1 {
  margin-top: 25px;
  font-size: 12pt;
}
.credits1 i {
  margin: 10px 15px;
  flex-direction: row;
  font-size: 20pt;
}
.credits1 a {
  color: black;
  flex-direction: row;
  font-size: 20pt;
}
.credits1 a:hover {
  color: #e71d1d;
}
.block {
  width: 96%;
  margin: 25px 15px;
  height: 100%;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: #202020;
}
#poke1 {
  display: flex;
  justify-self: center;
  align-self: center;
  margin: 0 auto;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.5));
  filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.5));
}
.name {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 20pt;
  margin-top: 5%;
}
.pokeid {
  display: flex;
  float: right;
  margin-top: -2%;
  border: 1px solid #fff;
  margin-left: -100px;
  border-radius: 5px;
  padding: 15px;
  background-color: #202020;
  font-size: 14pt;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  color: white;
}

.pokeid h1 {
  font-size: 14pt;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  color: white;
}
.search {
  width: 100%;
  background-color: #fff;
  margin: 15px;
  border-radius: 5px;
  min-height: min-content;
}
.search input {
  padding: 15px;
  color: #000000;
}
.search input[type="text"] {
  margin: 15px;
  padding-left: 20px;
  font-style: italic;
  border-radius: 5px;
  border: 1px solid #808080;
  width: 50vw;
}
.search input:active {
  background-color: rgb(218, 218, 218);
}

#refresh {
  float: right;
  margin: 15px;
  padding: 17px;
  width: 10vw;
  outline: none;
  border: none;
  border-radius: 5px;
}
#refresh:hover {
  background-color: #202020;
  color: white;
  cursor: pointer;
}
#refresh:active {
  background-color: #c4c4c4;
}
.next1 {
  display: block;
  justify-content: center;
  text-align: center;
}
.col {
  margin: 15px;
  padding: 15px;
  color: #202020;
  font-weight: bolder;
}
.col i {
  gap: 20px;
  font-size: 25pt;
  margin: 10px 20px;
}
.col a {
  color: #202020;
}
.col a:hover {
  color: #dd1c1c;
}
.next1 input:hover {
  padding: 25px 100px;
  margin: 15px;
  margin-top: 2em;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #202020;
  color: white;
  font-size: 14pt;
  font-weight: 400;
  justify-content: center;
  background-color: #101010;
}
.next1 input:active {
  background-color: #e84443;
}
.inputnext {
  padding: 25px 100px;
  margin: 15px;
  margin-top: 2em;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #202020;
  color: white;
  font-size: 14pt;
  font-weight: 400;
}
.atributes {
  padding: 15px;
  margin: -10px 15px 15px 15px;
  color: white;
  background-color: #404040;
  border-radius: 5px;
  min-height: fit-content;
}
.atributes_1 {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  text-align: center;
}
.atributes_2 {
  display: grid;
  grid-template-columns: auto auto auto;
}
.atributes_3 {
  display: grid;
  width: 95%;
  grid-template-columns: auto auto;
  background-color: #e84443;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  align-items: center;
  min-width: 280px;
}
#typeOfIcon {
  width: 50px;
  height: 50px;
  margin-top: -5%;
  border-radius: 50px;
  background-color: #fff;
}
.typeOf {
  background-color: #606060;
  justify-content: space-evenly;
  width: 95%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  min-width: min-content;
}
#pT {
  padding: 15px;
  margin: 10px 20px 10px 0;
  border-radius: 5px;
  background-color: #e84443;
  font-weight: 600;
  min-width: min-content;
}
#pM {
  padding: 15px;
  margin: 10px 20px 10px 0;
  border-radius: 5px;
  background-color: #e84443;
  font-weight: 600;
  justify-content: center;
  text-align: center;
  min-width: min-content;
}
#ab1,
#ab2 {
  padding: 15px;
  margin: 10px 20px 10px 0;
  border-radius: 5px;
  background-color: #606060;
  text-align: center;
}
.atributes h1 {
  font-size: 12pt;
  font-weight: 400;
}
.sts {
  color: #202020;
  font-weight: 600;
  background-color: white;
  padding: 5px;
  text-align: center;
  border-radius: 3px;
  margin: 10px 0;
  margin-left: -40px;
  width: 80%;
  min-width: max-content;
}
#ty1 {
  color: white;
  font-weight: bolder;
  background-color: #606060;
  padding: 15px;
  border-radius: 5px;
}
.status_sprites {
  display: grid;
  grid-template-columns: auto auto;
}
.sprites {
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto;
}
.sprites img {
  background-color: #606060;
  margin: 10px;
  border-radius: 5px;
}
@media only screen and (max-width: 600px) {
  .container {
    all: unset;
  }
  .background {
    all: unset;
    min-height: 100vh;
  }
  .pokename {
    all: unset;
  }
  .block {
    min-width: 300px;
  }
  #pT {
    min-width: min-content;
  }
  #pM {
    min-width: min-content;
  }
  .search {
    width: max-content;
    min-width: 100%;
    min-height: 100vh;
    margin: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .refresh {
    display: none;
  }
  #search {
    display: none;
    width: 250px;
    font-size: 16pt;
  }
  .atributes {
    margin-top: 5px;
  }
  .atributes_1 {
    grid-template-columns: auto;
  }
  .atributes_2 {
    grid-template-columns: auto;
  }
  .atributes_3 {
    width: 380px;
  }
  .sprites {
    grid-template-columns: auto;
    display: none;
  }
  #ty1 {
    width: min-content;
  }
  #st1,
  #st2,
  #st3,
  #st4,
  #st5,
  #st6 {
    margin: 0;
  }
  .credits1 {
    display: none;
  }
  .credits2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    margin-right: 5px;
    margin-left: -15px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-bottom: 5%;
    justify-content: center;
    align-items: center;
    min-width: 300px;
  }
  .credits2 col {
    flex-direction: column;
  }
  .credits2 col {
    flex-direction: row;
  }
  .credits2 h1 {
    margin-top: 25px;
    font-size: 12pt;
  }
  #ab1 {
    margin: 0px 20px 2px 0;
  }
  .credits2 i {
    margin: 10px 15px;
    flex-direction: row;
    font-size: 20pt;
  }
  .credits2 a {
    color: black;
    flex-direction: row;
    font-size: 20pt;
  }
  .credits2 a:hover {
    color: #e84443;
  }
  .sprites {
    display: none;
  }
}
@media only screen and (max-width: 980px) {
  .refresh {
    display: none;
  }
}
@media only screen and (max-width: 850px) and (min-width: 250px) {
  .container {
    all: unset;
  }
  .background {
    all: unset;
  }
  .pokename {
    all: unset;
  }
  .credits2 {
    min-width: 92%;
  }
  .col {
    display: none;
  }
  .row {
    display: none;
  }
  .search {
    width: 93vw;
    min-width: 280px;
    margin: 15px;
    padding-bottom: 10px;
  }
  .refresh {
    display: none;
  }
  #search {
    width: 32.3em;
  }
  .atributes_1 {
    grid-template-columns: auto;
  }
  .atributes_2 {
    grid-template-columns: auto;
  }
  .atributes_3 {
    grid-template-columns: minmax(250px, 1fr);
  }
  .sprites {
    grid-template-columns: auto;
  }
  #ty1 {
    width: min-content;
  }
  #st1,
  #st2,
  #st3,
  #st4,
  #st5,
  #st6 {
    margin: 0;
  }
  .credits1 {
    display: none;
  }
  .credits2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    margin-right: 5px;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-bottom: 5%;
    justify-content: center;
    align-items: center;
    min-width: 300px;
  }
  .credits2 col {
    flex-direction: column;
  }
  .credits2 col {
    flex-direction: row;
  }
  .credits2 h1 {
    margin-top: 25px;
    font-size: 12pt;
  }
  .credits2 i {
    margin: 10px 15px;
    flex-direction: row;
    font-size: 20pt;
  }
  .credits2 a {
    color: black;
    flex-direction: row;
    font-size: 20pt;
  }
  .credits2 a:hover {
    color: #e84443;
  }
  .sprites {
    display: none;
  }
}
