@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
  background-image: url(./img/25th_gray-8cafe8de4009ac8136df20fdf02bee2a.gif);
}

.background {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 7fr;
      grid-template-columns: 3fr 7fr;
  margin: 15px;
  border-radius: 5px;
}

@media only screen and (max-width: 800px) {
  body {
    all: unset;
    background-image: url(./img/25th_gray-8cafe8de4009ac8136df20fdf02bee2a.gif);
  }
  .background {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .search {
    all: unset;
    margin-top: 15px;
  }
}

.pokename {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}

.pokename .pokeid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-top: -15px;
}

.pokename .pokeid #pokemonid {
  background-color: #202020;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  border: 2px solid #fff;
  font-size: 12pt;
}

.pokename .name {
  color: #202020;
  font-weight: bolder;
  font-size: 18pt;
  margin-top: 10px;
}

.pokename #name {
  background-color: #202020;
  margin: 15px;
  padding: 15px 0;
  color: #fff;
  border-radius: 5px;
  font-weight: 400;
}

.pokename .type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
}

.pokename .type #typeOfIcon {
  width: 40px;
  height: 40px;
  margin-top: -30px;
}

.pokename .poke1 {
  margin-top: -50px;
}

.pokename #ty1 {
  color: #fff;
  font-weight: bolder;
}

.pokename .button h1 {
  font-size: 16pt;
  margin: 50px 0 0 0;
}

.pokename .button i {
  font-size: 18pt;
  margin: 20px 30px 0 0;
}

.pokename .button .row a {
  color: #202020;
}

.pokename .button .row a:hover {
  color: #df2323;
}

.pokename .button .next1 {
  padding-bottom: 15px;
}

.pokename .button .inputnext {
  padding: 30px 193px;
  font-size: 14pt;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 5px;
  margin: 0 15px;
  background-color: #202020;
}

.pokename .button .inputnext:hover {
  background-color: #101010;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pokename .button .inputnext:active {
  background-color: #202020;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.search {
  background-color: #202020;
  padding: 15px;
  border-radius: 5px;
  margin-top: 0 0 0 2%;
  color: #202020;
}

.search .atributes_2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.search input[type="text"] {
  outline: none;
  padding: 10px 0 10px 20px;
  border-radius: 5px;
  border: none;
}

.search input[type="button"] {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  font-weight: bold;
}

.search input[type="button"]:hover {
  background-color: #202020;
  cursor: pointer;
  color: #fff;
  border: 0.5px solid #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.search input[type="button"]:active {
  background-color: #606060;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.search .status_sprites {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
}

.search .status_sprites h1 {
  font-size: 12pt;
  margin: 8.5px 0;
}

.search .st1,
.search .st2,
.search .st3,
.search .st4,
.search .st5,
.search .st6 {
  background-color: #202020;
  padding: 0;
  border-radius: 5px;
}

.search .sts {
  border-radius: 5px;
  padding: 5px;
  color: #fff;
}

.search .search_reload {
  display: -ms-grid;
  display: grid;
  gap: 1em;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.search #pM {
  background-color: #e84443;
  margin: 10px 0 0 0;
  font-size: 14pt;
  border-radius: 5px;
  font-weight: 400;
  padding: 10px 0;
  color: #fff;
}

.search #ab1,
.search #ab2 {
  background-color: #606060;
  margin-top: 10px;
  font-size: 14pt;
  border-radius: 5px;
  padding: 10px 0;
  color: #fff;
  font-weight: 400;
}

.search .sprites {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 0 0 15px;
  background-color: #202020;
  border-radius: 5px;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */